<%= render "devise/shared/error_messages", resource: resource %>
<div class="registration-contents"> 
  <div class="registration-content">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <div class="field">
        <%= f.label :name %><em>(8文字以内)</em><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name",maxlength: "8", class: "sign-form" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "sign-form" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以内)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "sign-form" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "sign-form" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn" %>
      </div>
    <% end %>

    <%# <%= render "devise/shared/links" %> 
  </div>
</div>
