<div class="title_background"> 
  <div class="page-header">
    <h2>ロック解除方法メールを再送信</h2>
    <p>ロック解除方法メールを再送信します。<br>
    メールアドレスを入力してください。
    </p>
</div>
<div class="pass-new">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "ロック解除方法メール再送信" , class:"btn" %>
    </div>
  <% end %>
</div>
  <%= render "devise/shared/links" %>
