<div class="edit-contents"> 
  <div class="edit-content"> 
    <div class="edit-post">
      投稿の編集
    </div>
    <%= form_with model: @post, class: :form, local: true do |form| %>
      <%= form.text_field :title, placeholder: :タイトル, class: "edit-title" %>
      <%= image_tag @post.image.url ,class: "edit-image" ,id: "image-prev" %>
      <%= form.file_field :image ,id: "post-image" %>
      <%= form.text_area :content, placeholder: :ブログ本文, rows: "5",class: "edit-text" %>
      <%= form.submit class: "btn" %>
    <% end %>
  </div>
</div>